@import "/src/styles/base/partial.scss";

.about {
  width: 33.33%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(white 80%, rgba(255, 255, 255, 0.9));
  border-right: solid 1px black;
  transition: all 0.5s;
  padding: 17px;
  font-size: $font-XS;
  line-height: 15px;
  transition: height 0.5s, width 0.5s, opacity 0.5s;
  a:hover {
    color: $color-pink;
  }
  a.active {
    color: $color-pink;
  }

  .presentation {
    p {
      padding-bottom: 15px;
    }
  }
}

.about-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-XS;
  height: 23px;
  text-decoration: underline;
}

.icon.about {
  width: 16.44px;
  height: 16.44px;
  position: relative;
  margin-right: 32px;
  margin: 0;
  border: none;
}

.arrow {
  width: 8px;
}

.section {
  padding-bottom: 15px;
}

.underline {
  text-decoration: underline;
}

.dark {
  .about {
    background: linear-gradient(rgba(12, 13, 13, 13), rgba(12, 13, 13, 0.96));
    border-right: solid 1px white;
    transition: background-color 0.5s ease;
    .about-buttons {
      background: linear-gradient(rgba(12, 13, 13, 13), rgba(12, 13, 13, 0.96));
    }
  }
}

.light .about {
  transition: all 0.5s;
}

// Responsive

@media (max-width: 680px) {
  .about {
    width: 100%;
  }
}

.about-buttons {
  display: none;
}

.row {
  position: absolute;
  bottom: 0;
  padding-right: 17px;
}

@media screen and (max-width: 950px) {
  .about-buttons {
    display: block;
  }
  .dark {
    .about {
      background: linear-gradient(rgba(12, 13, 13, 13), rgba(12, 13, 13, 0.96));
      border-right: none;
      transition: background-color 0.5s ease;
    }
  }
}
