// Variables
$main-color: #ff0000;
$light-color: #ffffff;
$dark-color: #000000;

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

// Tag filter
.tag-filter {
  width: 75%;
  height: 100vh;
  overflow-y: scroll;
}

.tag-filter::-webkit-scrollbar {
  display: none;
}

.tag-filter {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Project
.project {
  width: 100%;

  .grid {
    display: flex;
    flex-direction: column;

    .presentation {
      width: 100%;
      height: 95vh;
      display: flex;
      flex-direction: column;

      .image-cover {
        width: 100%;
        height: 50vh;
        object-fit: contain;
      }

      .accordion-container {
        height: 50vh;

        .accordion {
          width: 100%;
          border-bottom: solid 1px;

          .isLight & {
            border-bottom: solid 1px $dark-color;
          }
        }
      }
    }

    .images-projects {
      height: 100vh;

      .image-wrapper {
        width: calc(50% - 5px);
        display: inline-block;
        vertical-align: top;
        height: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

// Bloc
.bloc {
  p {
    padding-bottom: 4px;
  }
}

// Description
.description {
  p {
    padding-bottom: 5px;
  }
}

// Carousel
.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &.active {
      opacity: 1;
    }
  }

  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .column {
      width: 50%;
      margin: 0 auto;

      .sliderTopUnique_IMG {
        width: 100%;
        height: auto;
      }
    }
  }

  .slick-track {
    display: flex;
    flex-direction: row;
  }

  // Buttons
  .carousel-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Responsive
@media (max-width: 768px) {
  .project {
    min-height: 100vh;

    .grid {
      .images-projects {
        height: 60vh;
      }

      .presentation {
        height: auto;

        .accordion-container {
          height: auto;
          .accordion {
            border-bottom: solid 1px;
          }
        }

        .image-cover {
          height: 40vh;
        }
      }
    }
  }
}
