@import "/src/styles/base/partial.scss";

.about {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: $background-dark;
  border-right: solid 1px white;
  a:hover {
    color: $color-pink; /* couleur rouge */
  }

  a.active {
    color: $color-pink; /* couleur bleue */
  }

  .text-container {
    font-size: $font-XS;
    padding-left: 34px;
    padding-right: 8px;
    padding-top: 21px;
    line-height: 15px;
  }
}

.presentation {
  padding-bottom: 15px;
  p {
    padding-bottom: 15px;
  }
}

.arrow {
  width: 8px;
}

.section {
  padding-bottom: 30px;
}

.underline {
  text-decoration: underline;
}

.white {
  background-color: $background-dark;
}

.black {
  background-color: $background-light;
  border-right: solid 1px black;
}
