@import "/src/styles/base/partial.scss";

.about {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: linear-gradient(rgba(12, 13, 13, 13), rgba(12, 13, 13, 0.96));
  border-right: solid 1px white;
  transition: all 0.5s;
  a:hover {
    color: $color-pink; /* couleur rouge */
  }
  a.active {
    color: $color-pink; /* couleur bleue */
  }
  .text-container {
    font-size: $font-XS;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 21px;
    line-height: 15px;
  }
}

.presentation {
  p {
    padding-bottom: 15px;
  }
}

.arrow {
  width: 8px;
}

.section {
  padding-bottom: 15px;
}

.underline {
  text-decoration: underline;
}

.light {
  .about {
    background: linear-gradient(white 80%, rgba(255, 255, 255, 0.6));
    border-right: solid 1px black;
    transition: background-color 0.5s ease;
  }
}

.light {
  .about-buttons {
    border-bottom: solid 1px black;
  }
}

.about-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-XS;
  height: 23px;
  border-bottom: solid 1px white;
  padding-left: 17px;
  padding-right: 17px;
}

.icon.about {
  width: 16.44px;
  height: 16.44px;
  position: relative;
  margin-right: 32px;
  margin: 0;
  border: none;
}

// Responsive

.light .about {
  transition: all 0.5s;
}

@media (max-width: 680px) {
  .about {
    width: 100%;
  }
}

@media (min-width: 680px) {
  .about-buttons {
    display: none;
  }
}
