@import "/src/styles/base/partial.scss";

footer {
  height: 120px;
  display: flex;
  align-items: center;
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    h3 {
      font-weight: inherit;
      font-size: 12px;
      padding-bottom: 2px;
    }
    .block {
      width: 25%;
      font-size: 12px;
      display: flex;
      text-transform: uppercase;
      a {
        padding-bottom: 2px;
      }
      a:hover {
        color: $color-pink;
      }
      a.active {
        color: $color-pink;
      }
      .inner {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  font-size: $font-XS;
  .icon-up {
    width: 9px;
  }
}
