@import "../base/base.scss";

.menu-container {
  font-size: $font-XS;
  padding-top: 11px;
  position: sticky;
  width: 100%;
  z-index: 999;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  .line {
    height: 23px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
    .lang {
      display: flex;
    }
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.icon {
  width: 16.44px;
  height: 16.44px;
  margin-bottom: 4px;
  position: absolute;
  right: 0;
  margin-right: 32px;
}

.typewriter {
  margin-left: 3px;
}

.cursor {
  background-color: transparent;
  border-left: 1px solid #000;
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
  100% {
    border-color: transparent;
  }
}

.close {
  position: absolute;
  left: 25%;
  margin-left: 12px;
}
