@import "../base/base.scss";

.menu-container {
  font-size: 16px;
  padding-top: 11px;
  position: sticky;
  top: 0;
  left: 0;
  width: 85%;
  z-index: 999;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  position: sticky;
  transition: all 0.8s;
  border-bottom: solid 1px;
  .menu {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    .buttons {
      display: flex;
      .lang {
        display: flex;
      }
    }
  }
  .line {
    height: 23px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.icon {
  width: 16.44px;
  height: 16.44px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.typewriter {
  margin-left: 3px;
}

.cursor {
  background-color: transparent;
  border-left: 1px solid #000;
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
  100% {
    border-color: transparent;
  }
}

.close {
  position: absolute;
  left: 480px;
  margin-left: 12px;
}

.buttons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  .lang {
    display: flex;
    p {
      padding-right: 6px;
    }
  }
}

.light {
  .menu-container {
    background: linear-gradient(white 0%, rgba(255, 255, 255, 0.8));
  }
}

.menu-container {
  background: linear-gradient(rgba(12, 13, 13, 13), rgba(12, 13, 13, 0.8));
}

.light .menu-container {
  transition: all 0.8s;
}

.menu-mobile {
  border-bottom: solid 1px;
}

// Mobile

@media screen and (max-width: 768px) {
  .menu-container {
    font-size: 12px;
    flex-direction: column;
    border-bottom: none;
    .menu {
      width: 100%;
      .buttons {
        display: none;
      }
    }
  }
  .line2 {
    padding-top: 5px;
    display: flex;
  }
}
