.tag-filter {
  width: 75%;
  overflow-y: scroll;
  height: 100vh;
}

.project {
  width: 100%;
  .grid {
    display: flex;
    flex-direction: column;
    .presentation {
      width: 100%;
      height: 95vh;
      display: flex;
      flex-direction: column;
      .image-cover {
        width: 100%;
        height: 50vh;
        object-fit: contain;
      }
      .accordion-container {
        height: 50vh;
      }
      .accordion {
        width: 100%;
      }
    }
    .images-projects {
      height: 100vh;
    }

    .image-wrapper {
      width: calc(50% - 5px);
      display: inline-block;
      vertical-align: top;
      height: 100%;
      display: flex;
    }

    .image-wrapper img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.bloc {
  p {
    padding-bottom: 4px;
  }
}

.description {
  p {
    padding-bottom: 5px;
  }
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel img.active {
  opacity: 1;
}

// CAROUSEL

.carousel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project-container {
  overflow-y: scroll;
  height: 100%;
}

.carousel .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .inner .column {
  width: 50%; /* ou une autre valeur */
  margin: 0 auto; /* ou une autre valeur */
}

.carousel .inner .column .sliderTopUnique_IMG {
  width: 100%;
  height: auto;
}

.slick-track {
  display: flex;
  flex-direction: row;
}

// Reponsive

@media (max-width: 768px) {
  .project {
    min-height: 100vh;
  }
  .project .grid .images-projects {
    height: 60vh;
  }
  .project .grid .presentation .accordion-container {
    height: auto;
  }
  .project .grid .presentation {
    height: auto;
  }
  .accordion-container .accordion {
    border-bottom: solid 1px;
  }
  .isLight {
    .accordion-container .accordion {
      border-bottom: solid 1px black;
    }
  }
  .project .grid .presentation .image-cover {
    height: 40vh;
  }
}
