@import "./../base/partial.scss";

.scroll-projects-menu {
  width: 15%;
  height: 100vh;
  .container-scroll-preview {
    height: 100%;
    .project-preview {
      padding: 10px;
      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
    }
  }
}
