@import "./../base/partial.scss";

.container-scroll-preview {
  background-color: black;
}
.light {
  .container-scroll-preview {
    background: white;
  }
}

.scroll-projects-menu {
  width: 15%;
  height: 100vh;
  overflow-y: scroll;
  border-left: solid white 1px;
  padding-left: 5px;
  margin-right: 15px;
  background-color: black;
  .container-scroll-preview {
    width: 100%;
    height: 100%;
    .project-preview {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

// Animation background

.project-preview.selected .project-preview-image {
  background: none;
}
.project-preview {
  .project-preview-image {
    background: white;
    transition: background 1s ease-in-out;
  }
}

.project-preview.selected:hover .project-preview-image {
  background: none;
}

.hovered {
  background: none !important;
}

.selected-image {
  margin-left: 0 !important;
}

.light {
  .scroll-projects-menu {
    background-color: white;
    border-left: solid black 1px;
  }
  .project-preview {
    .project-preview-image {
      background: black;
      transition: background 1s ease-in-out;
    }
  }
}

@media screen and (max-width: 768px) {
  .scroll-projects-menu {
    width: 100%;
    .container-scroll-preview {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      overflow-y: scroll;
      border-left: none;
      padding-left: 0;
      margin-right: 0;
      background: black;
      padding-top: 66px;
    }
  }
  .scroll-projects-menu .container-scroll-preview .project-preview img {
    width: 100%;
    height: 373px;
    object-fit: contain;
  }
}
