@import "./../base/partial.scss";

.tag-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li:hover {
    color: $color-pink;
  }
  li.active {
    color: $color-pink;
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .tag-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
