.gallery {
  width: 100%;
  height: 100vh;
}

.scroll-gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 32px;
  gap: 9px;
  img {
    width: 184px;
    height: 138px;
    object-fit: cover;
  }
  img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all 0.3s ease-in-out;
  }
  img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

::-webkit-scrollbar {
  display: none;
}

.selected-image {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  img {
    width: 30%;
    height: auto;
    object-fit: cover;
    transition: all 0.5s ease;
  }
}

.transitioning {
  opacity: 1;
}
