.gallery-container {
  padding: 50px 20px;
  .grid {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    .image-wrapper {
      flex-basis: calc(32% - 20px);
      margin-bottom: 10vw;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(32% - 20px);
      position: relative;
      .caption {
        display: flex;
        align-items: baseline;
        padding-bottom: 7px;
        h3 {
          font-family: Helvetica;
          font-size: 10px;
          font-weight: 300;
          line-height: 10px;
          letter-spacing: -0.2px;
          text-transform: uppercase;
          padding-right: 25px;
        }
        h2 {
          font-family: "Editorial New Ultralight";
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.28px;
          text-transform: uppercase;
        }
      }
      .responsive-img {
        overflow: hidden;
        display: block;
        line-height: 0;
        position: relative;
        width: 100%;
        img {
          overflow: hidden;
          display: block;
          line-height: 0;
          position: relative;
          width: 100%;
          backface-visibility: hidden;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery-container .grid .image-wrapper {
    flex-basis: calc(50% - 20px);
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-container .grid .image-wrapper {
    flex-basis: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}
