.App {
  /* autres propriétés de style */
  color: white;

  background-color: $background-dark;
  .line {
    border-bottom: solid 1px white;
  }
}

.light {
  color: black;
  background-color: $background-light;
  .line {
    border-bottom: solid 1px black;
  }
}
